@{
    ViewBag.Title = "In Progress";
}

<div class="container" style="max-width: 600px;">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Transferring data from TimeLog Project to Power BI</p>
            <p>TimeLog Project URL: @AzureAuthenticationHelper.GetReportingCredentials().Url</p>
            <p>PowerBI dataset: @PowerBiHelper.DatasetName</p>
            <h2>Transferring...</h2>
            <ul class="transfer">
                <li><span class="glyphicon glyphicon-refresh spin" aria-hidden="true"></span> Customers <span id="labelCustomers"></span></li>
                <li><span class="glyphicon glyphicon-refresh spin" aria-hidden="true"></span> Contacts <span id="labelContacts"></span></li>
            </ul>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            @*$.getJSON('@Url.Action("TransferCustomers")', function(data) {
                $('#labelCustomers').html(data);
            });*@

            $.getJSON('@Url.Action("TransferContacts")', function (data) {
                $('#labelContacts').html(data);
            });

        });

    </script>
    }