@{
    ViewBag.Title = "Transfer";
}

<div class="container" style="max-width: 600px;">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Authenticated as @AzureAuthenticationHelper.GetSession().UserInfo.GivenName @AzureAuthenticationHelper.GetSession().UserInfo.FamilyName (@AzureAuthenticationHelper.GetSession().UserInfo.DisplayableId)
            </p>
            <p>
                A PowerBI Dataset named "TimeLogProject" was <strong>@ViewBag.DatasetStatus</strong>.
            </p>
            <p>Following data from TimeLog Project will be transferred:</p>
            <ul>
                <li>Customers</li>
                <li>Contacts</li>
            </ul>
            <h3>TimeLog Project Reporting API Credentials</h3>
            <p>
                To proceed please enter your credentials
            </p>
            @using (Html.BeginForm("Transfer", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    @Html.Label("reportingUrl", "URL:", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBox("reportingUrl", PersonalConfigurationManager.AppSettings["TimeLogProjectUri"], new { @class = "form-control", placeholder = "https://app3.timelog.com/soxdemo" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("reportingCode", "Code:", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBox("reportingCode", PersonalConfigurationManager.AppSettings["TimeLogProjectReportingSiteCode"], new { @class = "form-control", placeholder = "Site Code" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("reportingId", "Id:", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBox("reportingId", PersonalConfigurationManager.AppSettings["TimeLogProjectReportingApiId"], new { @class = "form-control", placeholder = "API Id" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("reportingPassword", "Password:", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBox("reportingPassword", PersonalConfigurationManager.AppSettings["TimeLogProjectReportingApiPassword"], new { @class = "form-control", placeholder = "API Password" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Transfer data</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

