@model TimeLog.Api.Documentation.Models.RestDocumentationHelpers.RestMethodDoc
@{
    ViewBag.Title = Model.Name + " - Method Details";
}

<article class="article">
    <p>
        <a href="@Url.Action("Service", new { id = Model.Parent.Name.UrlEncode() })">Back to @Model.Parent.Name.SplitOnUppercase()</a>
    </p>
    <h2>Method Details for @Model.Name.</h2>
    <p>@Model.Summary</p>
    <h3>Definition</h3>
    <pre>@Model.FullName</pre>
    <h3>Parameters</h3>
    <ul>
        @foreach (var _param in Model.Params)
        {
            <li class="icon-arrow_in_circle">
                @_param.Name <span class="text-selection">@_param.Type</span> @_param.Description
                @if (!string.IsNullOrEmpty(_param.RefSchema.Value))
                {
                    <pre>@_param.RefSchema.Definition.ToHtmlString()</pre>
                }
            </li>
        }
    </ul>
    @if (Model.Responses.Any())
    {
        <h3>Returns</h3>
        foreach (var _response in Model.Responses)
        {
            <p>
                <span class="text-selection">[@(_response.Code)]</span> @_response.Description
            </p>
            if (!string.IsNullOrEmpty(_response.SchemaRestRef.Value))
            {
                <pre>@_response.SchemaRestRef.Definition.ToHtmlString()</pre>
            }
        }
    }
</article>