@{
    ViewBag.Title = "Financial Integrations";
}

<article class="article">

    <h1>@ViewBag.Title</h1>
    <h2>
        TimeLog connects with business tools which you already use. Optimise your business by connecting and
        integrating your tools. Among others we integrate to the following a bunch of ERP systems.
    </h2>
    <p>
        Currently, we are integrating with the following ERP solutions. Each of the integration vary a bit on which
        functionality it supports. Please follow the links to know more.
    </p>
    <ul class="arrows">
        <li>@Html.ActionLink("E-conomic", "Economic") (<a href="https://www.e-conomic.com">official website</a>) - Fully integrated</li>
        <li>@Html.ActionLink("Exact Online", "ExactOnline") (<a href="https://www.exact.com/nl/exact-online/">official website</a>) - Fully integrated</li>
        <li>@Html.ActionLink("Fortnox", "Fortnox") (<a href="https://www.fortnox.se">official website</a>) - Fully integrated</li>
        <li>@Html.ActionLink("Microsoft Dynamics NAV", "DynamicsNav") (<a href="https://www.microsoft.com/en-us/dynamics365/nav-overview">official website</a>) - Fully integrated with server install</li>
        <li>Visma Administration (<a href="https://vismaspcs.se/produkter/bokforingsprogram/administration">official website</a>) - Fully integrated with server install</li>
        <li>Dinero (<a href="https://www.dinero.dk">official website</a>) - In development, no release date available</li>
    </ul>
    <h3>Architecture</h3>
    <p>
        Together with TimeLog, you get deeply integrated experiences with your ERP system. Depending on the ERP
        system, TimeLog integrate with them in different ways:
    </p>
    <ul class="arrows">
        <li>
            <strong>Fully integrated</strong> - The integration is build into TimeLog, no additional installs
            are required. The ERP system is fully SaaS. Depending on the integration, a few setup steps are needed.
        </li>
        <li>
            <strong>Fully integrated with server install</strong> - The integration is build into TimeLog,
            the ERP is most likely installed on specialized servers and require our FinancialHost middleware to work.
        </li>
    </ul>
    <p>
        For integrations that is fully integrated with server install, TimeLog has developed a middleware software
        to provide the necessary API endpoints for the best integration experience. <strong>
            This middleware is called the
            "FinancialHost"
        </strong>.
    </p>
    <p>The technical architecture for integrations that are fully integrated with server install looks like this:</p>
    <p>
        <img src="@Url.Content("~/Source/TimeLog.Financial.Architecture.png")" />
    </p>
    <p>@Html.ActionLink("Read more about how we are securing the middleware (FinancialHost)", "MiddlewareSecurity")</p>
    <h3>Implementation flow for NAV integrations</h3>
    <p>
        The implementation flow is build from a predefined serie of meetings and gates to ensure a fast and consistent
        implementation. The flow described below also defined the elements that is included in any startup fee agreed
        as part of the contract.
    </p>
    <p>
        TimeLog estimates the process from pre-install meeting to usable staging/production environment should take
        less than 30 days.
    </p>
    <ol>
        <li>Customer signs contract with TimeLog</li>
        <li>
            Deliver completed: @Html.ActionLink("Presales document for the business owner", "PreinstallDocumentForCustomer")
        </li>
        <li>
            <strong>Planning meeting</strong> between customer CFO and/or ERP responsible, ERP partner of the customer, IT administrator
            of the customer, TimeLog consultant and TimeLog integration specialist. This meeting includes mapping the
            business flows to the integration flows as well as handing over preinstall documents. Outcome is a detailed implementation
            plan at that all stakeholder commits to. <br /><i>Expected time usage: 2 hours</i>
        </li>
        <li>
            Deliver completed: @Html.ActionLink("Preinstall document for the IT administrator", "PreinstallDocumentForIt")
            <br /><i>Expected time usage: 4 hours</i>
        </li>
        <li>
            If NAV, deliver completed: @Html.ActionLink("Preinstall document for the NAV partner", "PreinstallDocumentForNAVPartner")
            <br /><i>Expected time usage: 2 hours</i>
        </li>
        <li>
            <strong>Pre-install meeting</strong> for discussing the preinstall documents and clarifying the install and configuration
            steps. Stakeholders for this meeting: Customer CFO and/or ERP responsible, ERP partner of the customer, IT administrator
            of the customer, TimeLog consultant and TimeLog integration specialist. Outcome: All stakeholders knows the next install
            steps and are ready to execute. 
            <br /><i>Expected time usage: 2 hours</i>
        </li>
        <li>
            NAV partner delivery: Install FOB file and merge code into standard NAV objects
            <br /><i>Expected time usage: 4 hours (@Html.ActionLink("NAV install guide", "NAVInstallDocument"))</i>
        </li>
        <li>
            TimeLog integration specialist delivery: Install of FinancialHost middleware (NAV partner delivery required) + Setup parameters in NAV Table 50500 and 50511
        </li>
        <li>
            TimeLog technical consultant delivery: Test business flows of the integration
        </li>
        <li>
            <strong>Business setup meeting</strong> for finalizing configuration before going into production. Stakeholders:
            Customer CFO and/or ERP responsible and TimeLog consultant. Outcome: Customer approves that integration is working
            as specified and a final plan for go-live.
            <br/><i>Expected time usage: 4 hours</i>
        </li>
        <li>If staging environment in place, redo steps 7-10 in order to migrate to production.</li>
        <li>Go live</li>
    </ol>
</article>

@section sidebar
{

}
