@{
    ViewBag.Title = "NAV license requirements and Financial OBject file install";
}
    <article class="article">
        <h1>NAV license requirements and install guide</h1>
        <h2>
            This document outlines the installation and configuration procedure for the required steps to enable
            the integration.
        </h2>

        <p class="text-selection"><strong>Target audience:</strong> Microsoft NAV Partner</p>

        <h3>License requirements in NAV</h3>
                                       
        <p>The financial object package has been developed by Abakion, our development NAV Partner.</p>
        <p>The financial object package is part of a bigger module called Supply Chain Box.</p>

        <h3>Documentation requirements</h3>

        <p>The following documentation needs to be available for TimeLog during setup:</p>

        <ul>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle"><strong>Microsoft Dynamics NAV Client:</strong></li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Server</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">ClientServicesPort</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">ServerInstance</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">TenantId</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">ClientServicesProtectionLevel</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">ClientServicesCredentialType</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">DnsIdentity</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle"><strong>Microsoft Dynamics NAV Development Environment:</strong></li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Server Name</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Database Name</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Authentication</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">User ID</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Password</li>
        </ul>

        <div style="background-color: #EEE; padding: 10px; text-align: center; color: #000;">
            <img src="@Url.Content("~/Content/NAV/nav-development-environment-setup.png")" />
            <p>Microsoft Dynamics NAV Development Environment</p>
        </div>
        <p></p>
        <div style="background-color: #EEE; padding: 10px; text-align: center; color: #000;">
            <img src="@Url.Content("~/Content/NAV/nav-client-setup.png")" />
            <p>Microsoft Dynamics NAV Client</p>
        </div>

        <h3>(1/5) Install NAV Objects</h3>
        <p>Install the objects from the FOB file provided by TimeLog.</p>
        <p>In the NAV Development Environment go to "File" > "Import...", select the FOB file og click "Open"</p>
        <a href="@Url.Content("~/Financial/NAV-InstallObjects1.png")" target="_blank"><img src="@Url.Content("~/Financial/NAV-InstallObjects1.png")" /></a>
        <p>Review the import and make changes accordingly. Notify the TimeLog Integration Specialist if object numbers have to be relocated to not overwrite existing objects.</p>
        <a href="@Url.Content("~/Financial/NAV-InstallObjects2.png")" target="_blank"><img src="@Url.Content("~/Financial/NAV-InstallObjects2.png")" /></a>

        <h3>(2/5) Modify Standard NAV Objects</h3>
        <p>The following standard NAV tables need to be changed manually:</p>
        <ul class="arrows">
            <li>Tabel 18 - Customer</li>
            <li>Tabel 36 - Sales Header</li>
            <li>Tabel 37 - Sales Line</li>
            <li>Tabel 5050 - Contact</li>
            <li>Tabel 5200 - Employee</li>
        </ul>
        <p>In each of the objects change the following:</p>
        <ol>
            <li>
                Add history item to file change log<br />
                <a href="@Url.Content("~/Financial/NAV-ChangeObjects1.png")" target="_blank"><img src="@Url.Content("~/Financial/NAV-ChangeObjects1.png")" /></a>
            </li>
            <li>
                Add additional global variables to the table<br />
                <a href="@Url.Content("~/Financial/NAV-ChangeObjects2.png")" target="_blank"><img src="@Url.Content("~/Financial/NAV-ChangeObjects2.png")" /></a>
            </li>
            <li>
                Create a new function to the table<br />
                <a href="@Url.Content("~/Financial/NAV-ChangeObjects3.png")" target="_blank"><img src="@Url.Content("~/Financial/NAV-ChangeObjects3.png")" /></a>
            </li>
            <li>
                Add following lines to the OnInsert function<br />
                <a href="@Url.Content("~/Financial/NAV-ChangeObjects4.png")" target="_blank"><img src="@Url.Content("~/Financial/NAV-ChangeObjects4.png")" /></a>
            </li>
            <li>
                Add following lines to the OnModify function<br />
                <a href="@Url.Content("~/Financial/NAV-ChangeObjects5.png")" target="_blank"><img src="@Url.Content("~/Financial/NAV-ChangeObjects5.png")" /></a>
            </li>
        </ol>

        <h3>(3/5) Install TimeLog.FinancialHost.Core.dll</h3>
        <a href="@Url.Content("~/Financial/NAV-InstallCoreDll.png")" target="_blank"><img src="@Url.Content("~/Financial/NAV-InstallCoreDll.png")" /></a>

        <h3>(4/5) Setup job queue entry</h3>
        <p>This job processes the queue of changes made in NAV and transfers them to TimeLog.</p>
        <a href="@Url.Content("~/Financial/NAV-JobQueue.png")" target="_blank"><img src="@Url.Content("~/Financial/NAV-JobQueue.png")" /></a>

        <h3>(5/5) Setup Web Services</h3>
        <p>These services are used by the FinancialHost middleware to fetch data from NAV as well as insert to NAV.</p>
        <p><em>Pay close attention to the naming. The default name suggested by NAV is not always the correct one.</em></p>
        <a href="@Url.Content("~/Content/NAV/NAV-setup-web-services.png")" target="_blank"><img src="@Url.Content("~/Content/NAV/NAV-setup-web-services.png")" /></a>

        @*<h3>Connection Configuration (TimeLog Integration Specialist)</h3>*@
    </article>