@model TimeLog.Api.Documentation.Models.MethodDoc
@{
    ViewBag.Title = Model.Name + " - Method Details";
}

<article class="article">

    <p><a href="@Url.Action("Service", new { id = Model.Parent.FullName.UrlEncode()})">Back to @Model.Parent.Name.SplitOnUppercase()</a></p>
    <h2>Method Details for @Model.Name.</h2>
    <p>@Model.Summary</p>
    <h3>Definition</h3>
    <pre>@Model.FullName</pre>
    <h3>Parameters</h3>
    <ul>
        @foreach (var param in Model.Params)
        {
            <li class="icon-arrow_in_circle">
                @param.Name <span class="text-selection">@param.Type</span> @param.Description
            </li>
        }
    </ul>
    @if (!string.IsNullOrWhiteSpace(Model.Returns))
    {
        <h3>Returns</h3>
        <p>@Model.Returns</p>
    }
    @if (!string.IsNullOrWhiteSpace(Model.Remarks))
    {
        <h3>Remarks</h3>
        <p>@Html.Raw(Model.Remarks.Trim('\n').Replace("\n", "<br />"))</p>
    }


</article>