@model IEnumerable<TimeLog.Api.Documentation.Models.TypeDoc>
@{
    ViewBag.Title = "Services";
}

<article class="article">
    <h1>@ViewBag.Title</h1>
    <h2 class="">This page specifies all the available services</h2>
    <p>
        Each of the services is version and we promise only to add stuff (and fix bugs) on existing versions. If something
        is going away or a name is changed, we will publish a new version. We promise to keep any of our services
        alive for at least three years from release.
    </p>
        @foreach (var doc in Model.GroupBy(s => s.Name))
        {
            <h3>@doc.Key.SplitOnUppercase()</h3>
            <ul>
                @foreach (var service in doc.Where(s => !s.Summary.Contains("OBSOLETE")).OrderByDescending(s => s.FullName).Take(3))
                {
                <li class="icon-arrow_in_circle"><a href="@Url.Action("Service", "Transactional", new { id = service.FullName.UrlEncode() })">@service.Name.SplitOnUppercase()</a> <span class="text-selection">Version @service.Version()</span> @service.Summary</li>
                }
            </ul>
        }
</article>