@model List<TimeLog.Api.Documentation.Controllers.ImportColumn>
@{
    Layout = "~/Views/Shared/_Layout_Single_Column.cshtml";
    ViewBag.Title = "Data Import: " + ViewBag.DataType;
}

    <article class="article">
        <p>
            <a href="@Url.Action("Index")">Back to overview</a>
        </p>

        <h1>@ViewBag.Title</h1>

        <span class="text-selection">Note that these CSV import definitions is work-in-progress!</span>

        <h3>CSV sample (required columns only)</h3>

<pre>
@ViewBag.CsvSampleWithRequiredColumns
</pre>
        <p><a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), new { download = 1, requiredColumnsOnly = 1 })">Download CSV</a></p>           

        <h3>CSV sample (all columns)</h3>

<pre>
@ViewBag.CsvSampleWithAllColumns
</pre>
        <p><a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), new { download = 1 })">Download CSV</a></p>           

        <h3>Details</h3>

        <table class="csv_mapping_table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Mandatory</th>
                <th>Default Value</th>
                <th>Note</th>
                <th>Sample value</th>
            </tr>
            @foreach (var _column in Model)
            {
                <tr>
                    <td>@_column.Name</td>
                    <td>@_column.DataType</td>
                    <td>@(_column.IsMandatory ? "Yes" : "No")</td>
                    <td>@_column.DefaultValue</td>
                    <td>@_column.Note</td>
                    <td>@_column.SampleValue</td>
                </tr>
            }
        </table>

    </article>