<header class="header" style="top: 0px;">
    <div class="header-top">
        <div class="max-width-wrapper">
            <div class="logo">
                <a href="@Url.Content("~/")">TimeLog</a>
            </div>
            <div class="logo-text">

                <a href="/">
                    TimeLog <em>Value Your Time</em>
                </a>
            </div>
            <nav class="site-links">
                <ul class="site-links-list">
                    <li class="site-links-list__item"><a class="site-links-list__link" href="http://www.timelog.com">www.timelog.com</a></li>
                    <li class="site-links-list__item">
                        <a class="site-links-list__link login" href="https://login.timelog.com" target="_blank">Login <i class="icon-login"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-bottom">
        <div class="max-width-wrapper">
            <nav id="site-nav" class="main-nav">
                <span class="small-screen-menu">
                    <a href="#site-nav" class="small-screen-menu__link" data-opentext="Menu" data-closetext="Close" title="Open/close menu"><span class="close-stripes">Menu</span><span class="small-screen-menu__text">Menu</span></a>
                </span>
                <ul id="nav-items" class="top-level">
                    <li class="top-level__item has-subnav">
                        <a class="top-level__link @Html.DetectActiveMenu("Home", true)" href="#">
                            APIs
                            <span class="mobile-nav-expand">expand/contract</span>
                        </a>
                        <ul class="sub-level">
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Index", "Home")">Welcome</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Restrictions", "Home")">Restrictions</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("DataModel", "Home")">Data Model</a></li>
                        </ul>
                    </li>
                    <li class="top-level__item has-subnav">
                        <a class="top-level__link @Html.DetectActiveMenu("Transactional")" href="#">
                            Transactional API
                            <span class="mobile-nav-expand">expand/contract</span>
                        </a>
                        <ul class="sub-level">
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Index", "Transactional")">Introduction</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("GettingStarted", "Transactional")">Getting Started</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Security", "Transactional")">Security</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Services", "Transactional")">Services</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("ExternalSystems", "Transactional")">External Systems</a></li>
                            @*<li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("ErrorCodes", "Transactional")">Error Codes</a></li>*@
                        </ul>
                    </li>
                    <li class="top-level__item has-subnav">
                        <a class="top-level__link @Html.DetectActiveMenu("Reporting")" href="#">
                            Reporting API
                            <span class="mobile-nav-expand">expand/contract</span>
                        </a>
                        <ul class="sub-level">
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Index", "Reporting")">Introduction</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("GettingStarted", "Reporting")">Getting Started</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Security", "Reporting")">Security</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Methods", "Reporting")">Methods</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("EnumerableTypes", "Reporting")">Enumerable Types</a></li>
                        </ul>
                    </li>
                    <li class="top-level__item has-subnav">
                        <a class="top-level__link @Html.DetectActiveMenu("FileServices")" href="#">
                            File Services API
                            <span class="mobile-nav-expand">expand/contract</span>
                        </a>
                        <ul class="sub-level">
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Index", "FileServices")">Introduction</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Security", "FileServices")">Security</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Methods", "FileServices")">Methods</a></li>
                        </ul>
                    </li>
                    <li class="top-level__item has-subnav">
                        <a class="top-level__link @Html.DetectActiveMenu("FinancialIntegration")" href="#">
                            Financial Integrations
                            <span class="mobile-nav-expand">expand/contract</span>
                        </a>
                        <ul class="sub-level">
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Index", "FinancialIntegration")">Introduction</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("MiddlewareSecurity", "FinancialIntegration")">Security</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Economic", "FinancialIntegration")">E-conomic</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("ExactOnline", "FinancialIntegration")">Exact Online</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Fortnox", "FinancialIntegration")">Fortnox</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("DynamicsNav", "FinancialIntegration")">Microsoft Dynamics NAV</a></li>
                            <li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Dinero", "FinancialIntegration")">Dinero</a></li>
                            @*<li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("VismaAdministration", "FinancialIntegration")">Visma Administration</a></li>*@
                            @*<li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Flows", "FinancialIntegration")">Flows</a></li>*@
                            @*<li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Tests", "FinancialIntegration")">Tests</a></li>*@
                            @*<li class="sub-level__item"><a class="sub-level__link" href="@Url.Action("Install", "FinancialIntegration")">Install</a></li>*@

                        </ul>
                    </li>
                    <li class="top-level__item">
                        <a class="top-level__link" href="@Url.Action("Contact", "Home")">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
